.wd-assignment-edit-screen{
    margin-bottom: 20px;
    margin-right: 20px;
}

.wd-assignment-edit-screen hr{
    margin: 0%;
    margin-bottom: 10px;
}

.wd-assignment-edit-screen a{
    text-decoration: none;
}

.wd-edit-assignment-form input{
    margin-top: 5px;
}

.wd-edit-assignment-form textarea{
    width: 100%;
    margin-top: 5px;
}

.container.custom-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.container.custom-container select{
    margin-top: 10px;
}

.col-align {
    text-align: end;
    padding-right: 50px;
}

.wd-container-for-input {
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-container-for-input *{
    margin: 5px;
}

.wd-add-button {
    margin: 0;
}